.minecraft/logs
.minecraft/saves
.minecraft/journeymap
.minecraft/.mixin.out
.minecraft/screenshots
.minecraft/vintagefix
.minecraft/crash-reports
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/essential
.minecraft/mods/TheBetweenlands-3.9.5-universal.jar
instance.cfg
/.minecraft/llibrary/debug
/natives
instance.cfg
.minecraft/crafttweaker.log
.minecraft/config/splash.properties
.minecraft/.ReAuth.cfg
instance.cfg
.minecraft/usercache.json
.minecraft/usernamecache.json