.minecraft/logs
.minecraft/saves
.minecraft/journeymap
.minecraft/.mixin.out
.minecraft/screenshots
.minecraft/vintagefix
.minecraft/crash-reports
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/essential
.minecraft/mods/TheBetweenlands-3.9.5-universal.jar
.minecraft/mods
.minecraft/.mcdj